body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 5px;
}

a {
  color: rgb(78, 64, 104);
}

h1 {
  font-size: 20px;
}

img {
  width: 65%;
  margin: 0 auto;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
}

#coming-soon {
  padding: 20px 0;
  margin: 100px 0;
  color: rgb(78, 64, 104);
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
}

#everything-alright {
  padding: 20px 0;
  margin: 100px auto;
  display: block;
  width: 50%;
  color: rgb(78, 64, 104);
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  text-align: left;
  font-size: 12px;
}

#scatter {
  max-width: 15%;
  max-height: 30%;
  margin: 100px auto;
}

#song-credit {
  font-weight: 100;
  font-size: 8px;
}

@media only screen and (max-width: 600px) {
  #coming-soon h1 {
    font-size: 12px;
  }

  #sampler {
    width: 100%;
  }

  #everything-alright {
    padding: 20px 0;
    margin: 100px auto;
    display: block;
    width: 90%;
    color: rgb(78, 64, 104);
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    text-align: left;
    font-size: 12px;
  }
}
