body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 5px;
}

img {
  width: 65%;
  margin: 0 auto;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
}

#coming-soon {
  padding: 20px 0;
  margin: 100px 0;
  color: rgb(78, 64, 104);
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
}

#coming-soon h1 {
  font-size: 20px;
}

#scatter {
  max-width: 15%;
  max-height: 30%;
}

@media only screen and (max-width: 600px) {
  #coming-soon h1 {
    font-size: 12px;
  }

  #sampler {
    width: 100%;
  }
}
